amqp==5.3.1
asgiref==3.11.0
asyncpg==0.31.0
billiard==4.2.4
celery==5.6.3
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cramjam==2.11.0
cron-descriptor==1.4.5
cryptography==46.0.7
defusedxml==0.7.1
distlib==0.4.0
Django==5.1.7
django-celery-beat==2.9.0
django-cors-headers==4.7.0
django-environ==0.12.0
django-htmx==1.22.0
django-timezone-field==7.2.1
django_celery_results==2.6.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
djoser==2.3.3
dnspython==2.7.0
duckdb==1.4.2
ecdsa==0.19.1
email_validator==2.2.0
et_xmlfile==2.0.0
fastparquet==2024.11.0
filelock==3.20.0
fsspec==2025.12.0
greenlet==3.3.0
h11==0.16.0
idna==3.11
kombu==5.6.2
MarkupSafe==3.0.3
#numpy==2.2.3
oauthlib==3.3.1
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
platformdirs==4.5.1
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
pyarrow==23.0.1
pycparser==3.0
PyJWT==2.12.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python3-openid==3.2.0
pytz==2025.2
requests==2.32.5
requests-oauthlib==2.0.0
six==1.17.0
social-auth-app-django==5.8.0
social-auth-core==4.8.6
SQLAlchemy==2.0.30
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.6.0
vine==5.1.0
virtualenv==20.30.0
wcwidth==0.6.0
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==2.3.6
whitenoise==6.9.0
wsproto==1.2.0
XlsxWriter==3.2.3
